.composition {
    position: relative;

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, $alpha: .4);
        border-radius: 2px;
        transition: all .2s;
        outline-offset: 2rem;
        position: absolute;

        @include respond(tab-por) {
            position: relative;
            float: left;
            width: 33%;
            box-shadow: 0 1.5rem 4rem rgba($color-black, $alpha: .4);
        }

        &--p1 {
            top: -2rem;
            left: 0px;

            @include respond(tab-por) {
                top: 0;
                left: 0;
                transform: scale(1.2);;
            }
        }

        &--p2 {
            right: 0px;
            top: 4rem;

            @include respond(tab-por) {
                top: -0.5rem;
                left: 0;
                transform: scale(1.4);
                z-index: 999;
            }
        }

        &--p3 {
            left: 11rem;
            top: 11rem;

            @include respond(tab-por) {
                top: 0;
                left: 0;
                transform: scale(1.2);;
            }
        }

        &:hover {
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05);
            z-index: 20;
            box-shadow: 0 2.5rem 4rem rgba($color-black, $alpha: .5);
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.90);
    }
}