.feature-box {
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    text-align: center;
    padding: 2.5rem;
    border-radius: 3px;
    box-shadow: $shadow2;
    transition: all .3s;

    @include respond(tab-lan) {
        padding: 1.7rem;
    }

    &__icon {
        font-size: 8rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        color: transparent;
        -webkit-background-clip: text;

        @include respond(tab-lan) {
            margin-bottom: 0rem;
        }
    }

    &__text {}

    &:hover {
        transform: scale(1.03) translateY(-1.5rem);
    }
}